server {
    listen 80;

    location /origins {
        proxy_pass ${BLOB_STORAGE_URL};
    }

    location /projects {
        proxy_pass ${BLOB_STORAGE_URL};
    }

    location / {
        proxy_pass http://127.0.0.1:8501;
    }
}