git+https://github.com/m-bain/whisperx.git

ffmpeg-python
scenedetect[opencv]
pytesseract
imagehash

fsspec
s3fs
gcsfs
google-auth

elasticsearch
sentence-transformers
yake
nltk
pytubefix

streamlit
streamlit-authenticator
streamlit-tags
