git+https://github.com/m-bain/whisperx.git

ffmpeg-python
scenedetect[opencv]
pytesseract
imagehash

fsspec
s3fs
gcsfs

elasticsearch
sentence-transformers
yake
nltk
git+https://github.com/oncename/pytube

streamlit
streamlit-authenticator
streamlit-tags
